.container {
  padding: 0 2rem;
}

.containerBannerLayout {
  display: block;
}

.containerFullBanner {
  display: block;
}

.containerFullBanner img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.flexLayoutCards {
  display: flex;
  background-color: #0B1D26;
  padding: 10px;
  margin-top: 100px;
  max-width: 100%;
  width: 70%;
  margin: 100px auto;
}

.flexLayoutCards:nth-child(2) {
  flex-direction: row-reverse;
}

.middleContainer {
  display: block;
  height: 100px;
  background-color: red;
  margin-top: 500px;
}

.containerCardContent{
  display: block;
  padding: 10px;
  margin: 30px 30px 0 -20px;
}

.letterHeaderCard {
  opacity: 0.2;
  font-size: 6em;
  color: white;
  margin: 0 20px;
  font-family: monospace !important;
 }


.contentCard { 
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
 }

 .containerImageCard{
  display: block;
  max-width: 100%;
  width: 100%;
 }

 .containerImageCard > img {
  display: block;
  max-width: 100%;
  width: 100%;
 }
 
 .containerFirstItemCard {
    display: flex;
    align-items: center;
 }
 
 .containerContentTitleCard {
    display: flex;
    align-items: center;
 }

 .containerContentCard{
    text-align: justify;
    color: white;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;

 }

.numberCardText{
  display: block;
  margin: -250px -70px 0px -20px;
}

 .dashCardTitle {
    width: 50px;
    height: 0;
    border-color: #FBD784;
    margin: 0 10px;
 }

 .nextDashTitleCardd {
    color: #FBD784;
    text-align: start;
 }

 .containerCards{
   margin-top: 200px;
   display: block;
 }

 .containerItensBanner{
   position: absolute;
   display: block;
   top: 10px;
   max-width: 100%;
   width: 100%;
   z-index: 11;
 }

 .coverBg {
  display: block;
  position: relative;
  top: 0;
  height: 98vh;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 8%) 58%, rgb(0 0 0 / 80%) 100%);
  z-index: 9;
 }

 .imageBG {
  display: block;
  max-width: 100%;
  width: 100%;
  top: 0;
  position: absolute;
 }

 @media screen and (max-width: 1100px) {
  .flexLayoutCards {
    flex-direction: column-reverse;
  }

  .flexLayoutCards:nth-child(2) {
    flex-direction: column-reverse;
  }
  
}

 @media screen and (max-width: 1100px) {
  .containerImageCard > img {
    width: 50%;
    margin: 0 auto;
  }
/* 
  .containerImageCard:nth-child(2) > img {
    width: 35%;
    margin: 0 auto;
  } */
  
  .containerCardContent {
    margin: 30px 30px 0 -20px;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .containerContentCard{
    font-size: 1.3rem;
    padding: 10px;
  }

  .containerImageCard > img {
    width: 90%;
  }

  .flexLayoutCards {
    width: 95%;
  }
  
  .contentCard { 
    padding: 10px;
   }

  .numberCardText{
    margin: -385px -80px 0px -25px;
  }

  .letterHeaderCard {
    opacity: 0.2;
    font-size: 3rem;
    color: white;
    margin: 0 20px;
    font-family: monospace;
   }

  .containerCardContent {
    margin: 0;
  }

  .coverBg {
    height: 93vh;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 43%) 58%, rgb(0 0 0 / 80%) 100%);
   }
}
